/* All */
:root {
  /*color*/
  --primary-color: black;
  --secondary-color: white;
  --third-color: #7a7a7a;
  --fourth-color: #272429;
  --header-color: #373640;
  --color-p: #afafaf;
  --color-red: #ff3823;
  --color-or: #fec63d;
  --color-cyan: #4dd7fa;
  /* color fo header a decider #231b27*/
  /*font size*/
  --mobile-title1: 2.5rem;
  --mobile-title2: 1.8rem;
  --mobile-title3: 1.25rem;
  --mobile-p: 1rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red;*/
}

svg:not(:root) {
  overflow: visible;
}

a{
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); 
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}
/* Header */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
  align-items: center;
  margin-bottom: 3rem;
  padding: 1rem;
}

/* burger */
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: black;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  margin-left: 24px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
}

.sidenav a:hover {
  color: rgb(255, 197, 1);
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/* Icon Burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.logo {
  order: 2;
  width: 6rem;
  height: 3.5rem;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 3rem;
  padding: 8px 35px;
}

.toon {
  order: 3;
}

/* Footer */

footer li {
  display: flex;
  justify-content: space-around;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

footer img {
  width: 48px;
  height: 48px;
  padding-right: 0.2rem;
}

.copyright {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

footer h3 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: var(--mobile-title3);
  margin-top: 2rem;
}

footer {
  background-color: var(--fourth-color);
}

@media screen and (min-width: 576px) {
  .sidenav {
    order: 2;
  }
  .logo {
    order: 1;
  }
  .toon {
    order: 3;
  }

  #openBtn {
    display: none;
  }
  .sidenav {
    background-color: initial;
    padding-top: 0;
    height: auto;
    width: auto;
    position: static;
  }

  .sidenav a {
    padding: 0;
    font-size: 22px;
    color: var(--secondary-color);
    transition: none;
    margin: 0;
  }
  /* Sidenav menu links */

  .sidenav a:hover {
    color: var(--secondary-color);
  }

  /* Close btn */
  .sidenav .close {
    display: none;
  }

  /* nav list*/
  nav ul li {
    margin-right: 1rem;
    padding: 0.2rem 1rem;
  }
/* animation nav bar */
  .a::after {
    display: block;
    width: 0;
    content: "";
    height: 3px;
    background: #afafaf;
    transition: width 1.5s ease-in-out;
  }

  .a:hover::after {
    background: #afafaf;
    width: 100%;
  }

  .sidenav .a:hover {
    color: #afafaf;
  }

  .o::after {
    display: block;
    width: 0;
    content: "";
    height: 3px;
    background: #4dd7fa;
    transition: width 1.5s ease-in-out;
  }

  .o:hover::after {
    background: #4dd7fa;
    width: 100%;
  }
  .sidenav .o:hover {
    color: #4dd7fa;
  }

  .b::after {
    display: block;
    width: 0;
    content: "";
    height: 3px;
    background: #ff3823;
    transition: width 1.5s ease-in-out;
  }

  .b:hover::after {
    background: #ff3823;
    width: 100%;
  }
  .sidenav .b:hover {
    color: #ff3823;
  }

  .n::after {
    display: block;
    width: 0;
    content: "";
    height: 3px;
    background: #fec63d;
    transition: width 1.5s ease-in-out;
  }

  .n:hover::after {
    background: #fec63d;
    width: 100%;
  }
  .sidenav .n:hover {
    color: #fec63d;
  }
  footer a {
    font-size: 1rem;
  }

  footer img {
    width: 52px;
    height: 52px;
    padding-right: 0.5rem;
  }
}
