body {
  background-color: var(--primary-color);
}

h1 {
  color: white;
  margin-bottom: 2rem;
  margin-top: 3.125rem;
  text-align: center;
  font-size: var(--mobile-title1);
}

h2 {
  color: white;
  margin-left: 1rem;
  font-size: var(--mobile-title2);
}

p {
  color: var(--color-p);
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: var(--mobile-p);
}
/*  Banniere */
.banner {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* Section presentation */
.description {
  margin: auto;
  margin: 3rem 1rem;
  text-align: left;
}

/* Section Contenue */
.wrapper-img img {
  width: 100%;
  height: 100%;
}

.wrapper-img {
  height: 30vw;
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  flex: 0.3 0 20vw;
}

.content {
  flex: 0.7 1 30vw;
}

.card {
  display: flex;
  margin-bottom: 1rem;
  /*border-bottom: 2px solid gray;*/
}

.card p {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.border-separator {
  width: 80%;
  margin: 1rem auto;
  border-top: 1px solid var(--third-color);
}

@media screen and (min-width: 576px) {
  .banner {
    border-radius: 4rem;
  }

  .border-separator {
    display: none;
  }
  .cards {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    background-color: var(--fourth-color);
    border-radius: 10px;
    width: 24vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: calc(100% / 3.5);
  }

  .card:hover {
    transition: 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
  }

  .content {
    flex: initial;
    padding: 2rem 1.5rem;
  }

  .content h2 {
    margin: 10px 0;
    text-align: center;
    color: var(--secondary-color);
    border-radius: 18px;
    background-color: var(--third-color);
    margin-bottom: 2rem;
    padding: 0.2rem 0;
    font-size: 22px;
  }

  .content p {
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
  }
  .wrapper-img {
    border-radius: 8px 8px 0% 0%;
  }
  .bloc-page {
    width: 80%;
    margin: 0 auto;
  }
  .one-piece {
    border: 2px solid var(--color-cyan);
  }
  .bleach {
    border: 2px solid var(--color-red);
  }
  .naruto {
    border: 2px solid var(--color-or);
  }
}

@media screen and (min-width: 576px) and (max-width: 860px) {
  .card {
    width: 60%;
  }
  .wrapper-img {
    flex: initial;
  }
}